Repository Yorko/mlcourse.ai, pull requests merged in 2018-12, with the labels that each got.

#447 tutorial numpy, kseniia terekhova
  img/cint_vs_pyint.png
  img/convolution.png
  img/numpy_array_vs_python_list.png
  jupyter_english/tutorials/more_info_about_numpy_kseniia_terekhova.ipynb
Labels: tutorial

#446 Added tutorial on LDA
  img/data1.png
  img/transformed_data.png
  jupyter_english/tutorials/lda_pca_and_topic_modelling_shivam_panwar.ipynb
Labels: tutorial

#449 Epidemics_on_networks_with_NetworkX_and_EoN
  jupyter_english/tutorials/Epidemics_on_networks_with_NetworkX_and_EoN_Syrovatskiy_Ilya.ipynb
Labels: tutorial

#452 Ilya Larchenko tutorial
  jupyter_english/tutorials/hyperparameters_tunning_ilya_larchenko.ipynb
Labels: tutorial

#450 Mlxtend_SFS_an_easy_way_to_select_features.ipynb
  jupyter_english/tutorials/Mlxtend_SFS_an_easy_way_to_select_features.ipynb
Labels: tutorial

#453 Dask tutorial Knyazeva
  jupyter_english/tutorials/Dask objects and little dask ml tutorial_`Knyazeva.ipynb
Labels: tutorial

#454 Max Palko Tutorial
  img/join-types-merge-names.jpg
  img/merg_panda.jpg
  jupyter_english/tutorials/Merging_DataFrames_tutorial.ipynb
Labels: tutorial

#457 add kyriacos kyriacou tutorial
  jupyter_english/tutorials/bring_your_plots_to_life_with_matplotlib_animations_kyriacos_kyriacou.ipynb
Labels: tutorial

#464 voskresenskii_selenium_tutorial
  jupyter_english/tutorials/Voskresenskii_selenium_tutorial.ipynb
Labels: tutorial

#461 tutorial, Georgy Lazarev, Introduction_to_Network_Analysis_with_NetworkX_Georgy_Lazarev.ipynb
  jupyter_english/tutorials/Introduction_to_Network_Analysis_with_NetworkX_Georgy_Lazarev.ipynb
Labels: tutorial

#459 Feature engineering is all you need
  jupyter_english/tutorials/Feature_engineering_is_all_you_need_ tutorial_Georgy_Surin.ipynb
  jupyter_english/tutorials/Feature_engineering_tutorial.ipynb
Labels: tutorial

#460 Nested cross-validation tutorial from Tatyana Kudasova @kudasova
  img/nestedCV.png
  jupyter_english/tutorials/nested_cross_validation_tatyana_kudasova.ipynb
Labels: tutorial

#465 tutorial, Panin Kirill, statistical_hypothesis_testing_in_python_panin_kirill.ipynb
  jupyter_english/tutorials/statistical_hypothesis_testing_in_python_panin_kirill.ipynb
Labels: tutorial

#503 Added individual project
  jupyter_english/projects_indiv/predicting_the_onset_of_diabetes_based_on_diagnostic_measures_altprof.ipynb
Labels: proj_indiv

#505 Individual data analysis project - ECG Heartbeat Categorization Dataset (AEGo)
  jupyter_english/projects_indiv/indiv_project_aego.ipynb
Labels: proj_indiv

#504 Melbourne_real_estate_prices_prediction
  jupyter_english/projects_indiv/Melbourne_final.ipynb
Labels: proj_indiv

#509 Maxim Kashirin individual project
  jupyter_english/projects_indiv/lenta_ru_currency_rate_prediction_Maxim_Kashirin.ipynb
Labels: proj_indiv

#508 Ilya Larchenko individual project
  jupyter_english/projects_indiv/California_housing_value_prediction_Ilya_Larchenko.ipynb
Labels: proj_indiv

#514 Add files via upload
  jupyter_english/projects_indiv/will_you_have_a_success_in_speed_dating_tatyana_kudasova.ipynb
Labels: proj_indiv

#513 Add breast cancer individual project
  jupyter_english/projects_indiv/predict_whether_the_cancer_is_benign_or_malignant_nikolai_timonin.ipynb
Labels: proj_indiv

#512 Add individual project by Aleksei Demin
  img/dmsnr.PNG
  img/pulsar.PNG
  jupyter_english/projects_indiv/predicting_pulsar_aleksei_demin.ipynb
Labels: proj_indiv

#518 Small fixes
  jupyter_english/projects_indiv/predicting_the_onset_of_diabetes_based_on_diagnostic_measures_altprof.ipynb
Labels: minor_fix

#519 Create kickstarter_voskresenskii.ipynb
  jupyter_english/projects_indiv/kickstarter_voskresenskii.ipynb
Labels: proj_indiv
