Repository Yorko/mlcourse.ai, pull requests merged in 2021-12, with the labels that each got.

#682 jupyter book, topic 1 almost ready
  .gitignore
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/favicon.ico
  mlcourse_ai_jupyter_book/_static/img/mlcourse_ai_logo.jpg
  mlcourse_ai_jupyter_book/_static/img/ods_stickers.jpg
  mlcourse_ai_jupyter_book/_static/img/pandas.jpg
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult_solution.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_intro.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_pandas_data_analysis.md
Labels: jupyter-book

#683 Set up pre-commit and Yaspell
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .yaspellerrc.json
  CONTRIBUTING.md
  README.md
  docker_files/Dockerfile
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult_solution.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_intro.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_pandas_data_analysis.md
Labels: jupyter-book

#685 jupyterbook intro and topic1 done
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  .yaspellerrc.json
  README.md
  data/accidental-deaths-in-usa-monthly.csv
  data/ads.csv
  data/adult.data.csv
  data/breast_cancer.csv
  data/chronic_kidney_disease.csv
  data/currency.csv
  data/girls.csv
  data/hostel_factors.csv
  data/hour_online.csv
  data/mlcourse_open_first_survey_data.csv
  data/mlcourse_open_first_survey_parsed.csv
  data/nba_2013.csv
  data/spam.csv
  data/top10_tags.tsv
  data/tutorial_data.pickle
  data/weights_heights.csv
  img/bag_of_words.svg
  jupyter_english/topic02_visual_data_analysis/years_stats.html
  jupyter_russian/tutorials/multi-armed_bandits_ololo/graph_utils.py
  jupyter_russian/tutorials/random_forest_interpretation_ostroukhov/img/small_tree1.dot
  jupyter_russian/tutorials/random_forest_interpretation_ostroukhov/img/small_tree_path.dot
  jupyter_russian/tutorials/scrapy_tourism/scrapy_tourism/pipelines.py
  jupyter_russian/tutorials/scrapy_tourism/scrapy_tourism/settings.py
  jupyter_russian/tutorials/scrapy_tourism/scrapy_tourism/spiders/beach_spider_0.py
  jupyter_russian/tutorials/scrapy_tourism/scrapy_tourism/spiders/beach_spider_1.py
  jupyter_russian/tutorials/scrapy_tourism/scrapy_tourism/spiders/beach_spider_2.py
  mlcourse_ai_jupyter_book/_static/img/assignment01_teaser.png
  mlcourse_ai_jupyter_book/_static/img/become_a_patron.png
  mlcourse_ai_jupyter_book/_static/img/olympic_logo.png
  mlcourse_ai_jupyter_book/_static/program/program.plantuml
  mlcourse_ai_jupyter_book/_static/program/program.png
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult.md
  mlcourse_ai_jupyter_book/book/topic01/assignment01_pandas_uci_adult_solution.md
  mlcourse_ai_jupyter_book/book/topic01/bonus_assignment01_pandas_olympics.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_intro.md
  mlcourse_ai_jupyter_book/book/topic01/videolecture01.md
  run_docker_jupyter.sh
  run_docker_jupyter_windows.cmd
Labels: jupyter-book

#686 Feature/jupyterbook topic2
  .pre-commit-config.yaml
  .yaspellerrc.json
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/SCORE_CVD_eng.png
  mlcourse_ai_jupyter_book/_static/img/flight_delays.jpg
  mlcourse_ai_jupyter_book/_static/img/topic2-teaser.jpg
  mlcourse_ai_jupyter_book/_static/img/tsne_mnist.png
  mlcourse_ai_jupyter_book/_static/program/program.png
  mlcourse_ai_jupyter_book/_static/program/program.svg
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/videolecture01.md
  mlcourse_ai_jupyter_book/book/topic02/assignment02_analyzing_cardiovascular_desease_data.md
  mlcourse_ai_jupyter_book/book/topic02/assignment02_analyzing_cardiovascular_desease_data_solution.md
  mlcourse_ai_jupyter_book/book/topic02/bonus_assignment02_visual_analysis.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_additional_seaborn_matplotlib_plotly.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_intro.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_visual_data_analysis.md
  mlcourse_ai_jupyter_book/book/topic02/videolecture02.md
Labels: jupyter-book

#687 Jupyter-book topic 3
  .yaspellerrc.json
  mlcourse_ai_jupyter_book/_static/img/assignment03_decision_trees_solution_10_0.png
  mlcourse_ai_jupyter_book/_static/img/assignment03_decision_trees_solution_17_0.png
  mlcourse_ai_jupyter_book/_static/img/assignment03_decision_trees_solution_SCORE.png
  mlcourse_ai_jupyter_book/_static/img/credit_scoring_toy_tree_english.png
  mlcourse_ai_jupyter_book/_static/img/cross_validation.png
  mlcourse_ai_jupyter_book/_static/img/decision_tree3.png
  mlcourse_ai_jupyter_book/_static/img/decision_tree4.png
  mlcourse_ai_jupyter_book/_static/img/decision_tree_class_template.png
  mlcourse_ai_jupyter_book/_static/img/kNN.png
  mlcourse_ai_jupyter_book/_static/img/topic3-teaser.png
  mlcourse_ai_jupyter_book/_static/img/topic3_credit_scoring_entropy.png
  mlcourse_ai_jupyter_book/_static/img/topic3_decision_tree1.png
  mlcourse_ai_jupyter_book/_static/img/topic3_decision_tree2.png
  mlcourse_ai_jupyter_book/_static/img/topic3_decision_tree3.png
  mlcourse_ai_jupyter_book/_static/img/topic3_decision_tree4.png
  mlcourse_ai_jupyter_book/_static/img/topic3_decision_tree5.png
  mlcourse_ai_jupyter_book/_static/img/topic3_entropy_balls2.png
  mlcourse_ai_jupyter_book/_static/img/topic3_hse_instruction.png
  mlcourse_ai_jupyter_book/_static/img/topic3_tree_border_overfitting.png
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/topic01/topic01_pandas_data_analysis.md
  mlcourse_ai_jupyter_book/book/topic02/assignment02_analyzing_cardiovascular_desease_data.md
  mlcourse_ai_jupyter_book/book/topic02/bonus_assignment02_visual_analysis.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_additional_seaborn_matplotlib_plotly.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_visual_data_analysis.md
  mlcourse_ai_jupyter_book/book/topic03/assignment03_decision_trees.md
  mlcourse_ai_jupyter_book/book/topic03/assignment03_decision_trees_solution.md
  mlcourse_ai_jupyter_book/book/topic03/bonus_assignment03_decision_trees.md
  mlcourse_ai_jupyter_book/book/topic03/topic03_decision_trees_kNN.md
  mlcourse_ai_jupyter_book/book/topic03/topic03_intro.md
  mlcourse_ai_jupyter_book/book/topic03/videolecture03.md
Labels: jupyter-book

#688 Jupyterbook topic4
  .gitignore
  .yaspellerrc.json
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/topic4-teaser.png
  mlcourse_ai_jupyter_book/_static/img/topic4_XOR_table.gif
  mlcourse_ai_jupyter_book/_static/img/topic4_bag_of_words.svg
  mlcourse_ai_jupyter_book/_static/img/topic4_bias_variance.png
  mlcourse_ai_jupyter_book/_static/img/topic4_bias_variance2.png
  mlcourse_ai_jupyter_book/_static/img/topic4_l2_regul.png
  mlcourse_ai_jupyter_book/_static/img/topic4_linear_classifier.png
  mlcourse_ai_jupyter_book/_static/img/topic4_logloss_margin_eng.png
  mlcourse_ai_jupyter_book/_static/img/topic4_margin.png
  mlcourse_ai_jupyter_book/_static/img/topic4_ridge.png
  mlcourse_ai_jupyter_book/_static/img/topic4_sigmoid.png
  mlcourse_ai_jupyter_book/_static/img/topic4_simple_linal_task.png
  mlcourse_ai_jupyter_book/_static/img/topic4_toy_scorecard_eng.png
  mlcourse_ai_jupyter_book/_static/img/topic6-teaser.png
  mlcourse_ai_jupyter_book/_static/img/yeah.jpeg
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/bonus_assignment01_pandas_olympics.md
  mlcourse_ai_jupyter_book/book/topic02/bonus_assignment02_visual_analysis.md
  mlcourse_ai_jupyter_book/book/topic03/bonus_assignment03_decision_trees.md
  mlcourse_ai_jupyter_book/book/topic04/assignment04_sarcasm_detection_with_logit.md
  mlcourse_ai_jupyter_book/book/topic04/assignment04_sarcasm_detection_with_logit_solution.md
  mlcourse_ai_jupyter_book/book/topic04/bonus_assignment04_alice_baselines.md
  mlcourse_ai_jupyter_book/book/topic04/topic04_intro.md
  mlcourse_ai_jupyter_book/book/topic04/topic4_linear_models_part1_mse_likelihood_bias_variance.md
  mlcourse_ai_jupyter_book/book/topic04/topic4_linear_models_part2_logit_likelihood_learning.md
  mlcourse_ai_jupyter_book/book/topic04/topic4_linear_models_part3_regul_example.md
  mlcourse_ai_jupyter_book/book/topic04/topic4_linear_models_part4_good_bad_logit_movie_reviews_XOR.md
  mlcourse_ai_jupyter_book/book/topic04/topic4_linear_models_part5_valid_learning_curves.md
  mlcourse_ai_jupyter_book/book/topic04/videolecture04.md
Labels: jupyter-book

#689 Jupyter-book topic5
  mlcourse_ai_jupyter_book/_static/img/topic5-teaser.png
  mlcourse_ai_jupyter_book/_static/img/topic5_bagging.png
  mlcourse_ai_jupyter_book/_static/img/topic5_bagging_formula.png
  mlcourse_ai_jupyter_book/_static/img/topic5_bootstrap_eng.png
  mlcourse_ai_jupyter_book/_static/img/topic5_bull.png
  mlcourse_ai_jupyter_book/_static/img/topic5_knn_vs_rf.png
  mlcourse_ai_jupyter_book/_static/img/topic5_oob.png
  mlcourse_ai_jupyter_book/_static/img/topic5_rf_algo.png
  mlcourse_ai_jupyter_book/_static/img/topic5_rf_final_formula.png
  mlcourse_ai_jupyter_book/_static/img/topic5_tree_vs_bagging_eng.png
  mlcourse_ai_jupyter_book/_static/img/topic5_variance_rf.png
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/topic01_pandas_data_analysis.md
  mlcourse_ai_jupyter_book/book/topic02/topic02_visual_data_analysis.md
  mlcourse_ai_jupyter_book/book/topic03/topic03_decision_trees_kNN.md
  mlcourse_ai_jupyter_book/book/topic04/topic04_intro.md
  mlcourse_ai_jupyter_book/book/topic05/assignment05_logit_rf_credit_scoring.md
  mlcourse_ai_jupyter_book/book/topic05/assignment05_logit_rf_credit_scoring_solution.md
  mlcourse_ai_jupyter_book/book/topic05/bonus_assignment05_logreg_rf.md
  mlcourse_ai_jupyter_book/book/topic05/topic05_intro.md
  mlcourse_ai_jupyter_book/book/topic05/topic5_part1_bagging.md
  mlcourse_ai_jupyter_book/book/topic05/topic5_part2_random_forest.md
  mlcourse_ai_jupyter_book/book/topic05/topic5_part3_feature_importance.md
  mlcourse_ai_jupyter_book/book/topic05/videolecture05.md
Labels: jupyter-book

#690 Adding correction to X_test
  jupyter_english/assignments_demo/assignment03_decision_trees_solution.ipynb
Labels: minor_fix

#691 Jupyter-book topics 6,7
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/assignment7_teaser_clustering_faces1.png
  mlcourse_ai_jupyter_book/_static/img/assignment7_teaser_clustering_faces2.png
  mlcourse_ai_jupyter_book/_static/img/assignment7_teaser_pca_faces.png
  mlcourse_ai_jupyter_book/_static/img/topic10-teaser.jpeg
  mlcourse_ai_jupyter_book/_static/img/topic6_apartment_plan.jpg
  mlcourse_ai_jupyter_book/_static/img/topic6_bag_of_words.png
  mlcourse_ai_jupyter_book/_static/img/topic6_qq_log.png
  mlcourse_ai_jupyter_book/_static/img/topic6_qq_lognorm.png
  mlcourse_ai_jupyter_book/_static/img/topic7-teaser.jpg
  mlcourse_ai_jupyter_book/_static/img/topic8-teaser.png
  mlcourse_ai_jupyter_book/_static/img/topic9-teaser.jpg
  mlcourse_ai_jupyter_book/_static/img/wine_quality.jpg
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/extra/assignment04_sarcasm_detection_with_logit.md
  mlcourse_ai_jupyter_book/book/extra/assignment04_sarcasm_detection_with_logit_solution.md
  mlcourse_ai_jupyter_book/book/index.md
  mlcourse_ai_jupyter_book/book/topic01/videolecture01.md
  mlcourse_ai_jupyter_book/book/topic02/videolecture02.md
  mlcourse_ai_jupyter_book/book/topic03/assignment03_decision_trees_solution.md
  mlcourse_ai_jupyter_book/book/topic03/videolecture03.md
  mlcourse_ai_jupyter_book/book/topic04/assignment04_regression_wine.md
  mlcourse_ai_jupyter_book/book/topic04/assignment04_regression_wine_solution.md
  mlcourse_ai_jupyter_book/book/topic04/videolecture04.md
  mlcourse_ai_jupyter_book/book/topic05/videolecture05.md
  mlcourse_ai_jupyter_book/book/topic06/bonus_assignment06.md
  mlcourse_ai_jupyter_book/book/topic06/demo_assignment06.md
  mlcourse_ai_jupyter_book/book/topic06/topic06_intro.md
  mlcourse_ai_jupyter_book/book/topic06/topic6_feature_engineering_feature_selection.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning_solution.md
  mlcourse_ai_jupyter_book/book/topic07/bonus_assignment07.md
  mlcourse_ai_jupyter_book/book/topic07/topic07_intro.md
  mlcourse_ai_jupyter_book/book/topic07/topic7_pca_clustering.md
  mlcourse_ai_jupyter_book/book/topic07/videolecture07.md
  poetry.lock
  pyproject.toml
Labels: enhancement, jupyter-book

#696 Jupyter-book topic5
  .gitignore
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/assignment8_teaser_loss.png
  mlcourse_ai_jupyter_book/_static/img/assignment8_teaser_sdg_classifier.png
  mlcourse_ai_jupyter_book/_static/img/assignment8_teaser_update_formula.png
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/topic06/topic6_feature_engineering_feature_selection.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning_solution.md
  mlcourse_ai_jupyter_book/book/topic07/topic7_pca_clustering.md
  mlcourse_ai_jupyter_book/book/topic08/assignment08_implement_sgd_regressor.md
  mlcourse_ai_jupyter_book/book/topic08/assignment08_implement_sgd_regressor_solution.md
  mlcourse_ai_jupyter_book/book/topic08/bonus_assignment08.md
  mlcourse_ai_jupyter_book/book/topic08/topic08_intro.md
  mlcourse_ai_jupyter_book/book/topic08/topic08_sgd_hashing_vowpal_wabbit.md
  mlcourse_ai_jupyter_book/book/topic08/videolecture08.md
Labels: jupyter-book

#698 Jupyter-book topics 9, 10
  .gitignore
  mlcourse_ai_jupyter_book/_config.yml
  mlcourse_ai_jupyter_book/_static/img/assignment10_teaser_math.png
  mlcourse_ai_jupyter_book/_static/img/assignment10_teaser_residuals.png
  mlcourse_ai_jupyter_book/_static/img/bonus_assignment09_teaser.png
  mlcourse_ai_jupyter_book/_static/img/topic10_good_fit.png
  mlcourse_ai_jupyter_book/_static/img/topic10_help_with_func_compressed.png
  mlcourse_ai_jupyter_book/_static/img/topic10_overfitting.png
  mlcourse_ai_jupyter_book/_static/img/topic10_regression_for_everybody.jpg
  mlcourse_ai_jupyter_book/_static/img/topic9_benchmarking_prophet.png
  mlcourse_ai_jupyter_book/_static/img/topic9_time_series_cv.png
  mlcourse_ai_jupyter_book/_static/img/xgboost_meme.jpg
  mlcourse_ai_jupyter_book/_static/img/xgboost_the_things.jpg
  mlcourse_ai_jupyter_book/_toc.yml
  mlcourse_ai_jupyter_book/book/topic02/topic02_additional_seaborn_matplotlib_plotly.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning.md
  mlcourse_ai_jupyter_book/book/topic07/assignment07_unsupervised_learning_solution.md
  mlcourse_ai_jupyter_book/book/topic09/assignment09_time_series.md
  mlcourse_ai_jupyter_book/book/topic09/assignment09_time_series_solution.md
  mlcourse_ai_jupyter_book/book/topic09/bonus_assignment09.md
  mlcourse_ai_jupyter_book/book/topic09/topic09_intro.md
  mlcourse_ai_jupyter_book/book/topic09/topic9_part1_time_series_python.md
  mlcourse_ai_jupyter_book/book/topic09/topic9_part2_facebook_prophet.md
  mlcourse_ai_jupyter_book/book/topic09/videolecture09.md
  mlcourse_ai_jupyter_book/book/topic10/assignment10_flight_delays_kaggle.md
  mlcourse_ai_jupyter_book/book/topic10/bonus_assignment10.md
  mlcourse_ai_jupyter_book/book/topic10/topic10_gradient_boosting.md
  mlcourse_ai_jupyter_book/book/topic10/topic10_intro.md
  mlcourse_ai_jupyter_book/book/topic10/videolecture10.md
  poetry.lock
  pyproject.toml
Labels: jupyter-book
